{% extends "base.html" %}

{% block title %}Books: author info{% endblock %}

{% block content %}
<div class="row align-items-center justify-content-center no-gutters">
  <div class="col-12 col-lg-8">
    <div class="min-vh-100 d-flex flex-column justify-content-around">
       <p class="display-title  mt-5 pt-5 text-center font-weight-bold">
       {{ a_q.name }}
       </p>
         <p class="text-uppercase text-center text-muted font-weight-light display-5">
           {{a_books|length}} book(s) by {{ a_q.name }} in database
         </p>
        </div>
        <hr>
    </div>
  </div>

{% if dsc or a_q.author_ph_gr %}
<div class="row align-items-center justify-content-center no-gutters">

  <div class="container min-vh-100">

    <div>
      <h1 class="mb-0 mt-5 font-weight-bold text-center">
        informations
      </h1>
      <a href="https://www.goodreads.com/author/show/{{ a_q.author_id_gr }}" target="_blank">
        <p class="mb-5 text-center font-serif">
          <mark>..from goodreads.com</mark>
        </p>
      </a>
    </div>

    <div class="row">
      {% if a_q.author_ph_gr %}
      <div class="col-12 col-md-3 p-3 mx-auto text-center">

        <img src="{{a_q.author_ph_gr}}" alt="author_photo" class="img-fluid" style="filter: grayscale(100%); max-height: 100%;">
      </div>
      {% endif %}

      {% if dsc %}
      <div class="col-12 col-md-8 p-3">
        <p class="font-serif ml-auto mr-auto">{{ dsc|safe }}</p>
      </div>
      {% endif %}

      </div>
    </div>
  </div>
{% endif %}

{% if a_books %}
<div id="results" class="container">
 <div class="row justify-content-center p-0 m-0">
  <div id="results-books" class="w-100 d-flex flex-column justify-content-around">
    <!-- Books -->
    <div class="m-5">
      <h1 class="mb-0 mt-5 font-weight-bold text-center">{{ a_q.name }} books</h1>
      <p class="mb-5 text-center font-serif">
        <mark>click details for more info</mark>
      </p>
    </div>

    {% for r in a_books %}
    <div class="w-100 border border-muted p-2 mb-3 d-flex justify-content-between">
      <div>
        <h3 class="font-weight-bold">{{ r.title }}</h3>
        <em><p class="ml-4 text-muted">published in {{ r.year }}</p></em>

      </div>
      <div class="d-flex flex-column justify-content-end">
        <a href="/book/{{ r.isbn }}" class="btn btn-outline-dark btn-sm" role="button" aria-pressed="true">details</a>
      </div>
    </div>
    {% endfor %}

  </div>
 </div> <!--results books row-->
</div>
{% endif %}

{% endblock %}


