{% extends "base.html" %}
{% from "_formhelpers.html" import nolabel_field %}

{% block styles %}
{% endblock %}

{% block content %}
<section class="section-border border-primary">
  <div class="d-flex flex-column">
    <div class="row align-items-center justify-content-center no-gutters"  style="min-height: 90vh !important; background-image: url({{ url_for('static', filename='img/bkg.svg') }}); background-size: cover; background-repeat: no-repeat;">
      <div class="col-12 col-lg-8">
        <div class="min-vh-100 d-flex flex-column justify-content-around">
           <p class="display-1 text-center font-weight-bold">
           {{ book_json.title }}
           </p>
         <p class="text-uppercase text-center text-muted font-weight-light display-5">
           <a href="#">{{ book_json.author }}</a> - {{ book_json.year }} - {{ book_json.isbn }}</p>
        </div>
        <hr>

        <div id="reviews" class="d-flex flex-column justify-content-center">
          <div style="margin-top: 25%">
            {% if book_json.average_score %}
            <p class="ml-md-5 ml-3 font-serif rfs">
              <span>Average score: {{ book_json.average_score }} from {{ book_json.review_count }} reviews.</span>
            {% endif %}
            {% if gr_api_json %}
              <br>
              <span><a target="_blank" href="https://www.goodreads.com/book/show/{{ gr_api_json.books[0].id }}">Goodreads: </a>score {{ gr_api_json.books[0].average_rating }} and {{ gr_api_json.books[0].work_text_reviews_count }} reviews.<span>
            </p>
            {% endif %}
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-dark btn-sm ml-5 mt-3" data-toggle="modal" data-target="#exampleModal">
              write your review
            </button>
          </div>
          <div style="z-index: -1; margin-top: -40%;">

            <svg viewBox="0 0 25 20" fill="#f8f9fa">
              <text x="2" y="15">
                {% if book_json.average_score %}
                {{ book_json.average_score }}
                {% else %}
                score
                {% endif %}
              </text>
            </svg>
          </div>





        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title font-serif" id="exampleModalLabel"><mark>write your review</mark></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <form class="mb-5" action="/book/{{ book_json.isbn }}#reviews" method="post">
              {{ form.csrf_token }}
              <div class="modal-body">
                <div class="input-group">
                <!-- TODO character counter -->
                {{ nolabel_field(form.review, class="form-control font-serif", placeholder="review", rows="6") }}
                </div>
                <br>
                <div class="form-group">
                  <div class="input-group-prepend d-flex justify-content-around">
                    <label class="h3 mt-1" font-serif for="rating"><mark>rating:</mark></label>
                    {{ nolabel_field(form.rating, class="form-control w-25 font-serif") }}
                    <button class="btn btn-outline-dark btn-sm" type="submit">submit</button>
                  </div>
                </div>
              </div>
              </form>
            </div>
          </div>
        </div>


        </div>
        <hr>
        {% if reviews %}
        <div class="min-vh-100 d-flex flex-column justify-content-start">
        {% for r in reviews %}
          {% if r.review %}
          <div class="m-5">
          <blockquote class="blockquote">
            <cite class="mb-0 font-serif">{{ r.review }}</cite>
            <footer class="blockquote-footer ml-3"><em>{{ r.user }}</em></footer>
          </blockquote>
          </div>
          {% endif %}
        {% endfor %}
        </div>
        <hr>
        {% endif %}

      </div> <!-- /  -->
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
{% endblock %}


