{% extends "base.html" %}

{% block content %}
<section class="section-border border-primary">
  <div class="d-flex flex-column">
    <div class="row align-items-center justify-content-center no-gutters"  style="min-height: 90vh !important; background-image: url({{ url_for('static', filename='img/bkg.svg') }}); background-size: cover; background-repeat: no-repeat;">
      <div class="col-12">
        <div class="d-flex flex-column justify-content-around">
          <div>
            <p class="text-center font-weight-light display-title">Did you read...</p>
            <p id="replaceStrings" class="display-title text-center font-weight-bold"></p>
            <p class="text-center font-serif h5 mt-5">
              <mark>Sign in, and discover 5ooo books!</mark>
            </p>
          </div>
      </div>
    </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/typeit@6/dist/typeit.min.js" /></script>

<script defer>
    new TypeIt('#replaceStrings', {
    strings: {{ rnd_titles|tojson }},
    speed: 150,
    nextStringDelay: 5000,
    deleteSpeed: 100,
    lifeLike: true,
    cursor: true,
    loop:true,
    breakLines: false,
    waitUntilVisible: true
    }).go();
</script>

{% endblock %}