{% extends "base.html" %}

{% block content %}
<div class="d-flex flex-column justify-content-around">
  <div>
    <p class="text-center font-weight-light display-title">Did you read...</p>
    <p id="replaceStrings" class="display-title text-center font-weight-bold"></p>

    <a href="{% if session['user'] %}{{url_for('search')}}{% else %}{{url_for('login')}}{% endif %}">
      <p class="text-center font-serif h5 mt-5">
        <mark>
          {% if session['user'] %}
          Start searching!
          {% else %}
          Sign in, and discover 5ooo books!
          {% endif %}
        </mark>
      </p>
    </a>

  </div>
</div>

</section>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/typeit@6/dist/typeit.min.js" /></script>

<script defer>
    new TypeIt('#replaceStrings', {
    strings: {{ rnd_titles|tojson }},
    speed: 150,
    nextStringDelay: 5000,
    deleteSpeed: 100,
    lifeLike: true,
    cursor: true,
    loop:true,
    breakLines: false,
    waitUntilVisible: true
    }).go();
</script>

{% endblock %}