{% extends "base.html" %}
{% from "_formhelpers.html" import nolabel_field %}

{% block content %}

<div class="row justify-content-center p-0 m-0">
  <div class="col-11 col-sm-8 col-md-6 col-lg-4 col-xl-3">

    <!-- Heading -->
    <h1 class="mb-0 font-weight-bold text-center">
      Sign In
    </h1>

    <!-- Text -->
    <p class="mb-3 text-center font-serif">
      <mark>Happy to see you again.</mark>
    </p>

    <!-- Form -->
    <form class="mb-5" action="/login" method="post">
    {{ form.csrf_token }}

      <!-- Login -->
      <div class="mb-2 form-group">
        <label class="text-muted" for="login">
          login
        </label>
        {{ nolabel_field(form.login, class="form-control") }}
      </div>

      <!-- Password -->
      <div class="form-group mb-5">
        <label class="text-muted" for="passw">
          password
        </label>
        {{ nolabel_field(form.passw, class="form-control") }}
      </div>

      <!-- Submit -->
      <button class="btn btn-block btn-outline-dark btn-sm" type="submit">
        Sign In
      </button>

    </form>

    <!-- Text -->
    <p class="mb-0 font-size-sm text-center font-serif">
      <a href="{{ url_for('register')}}">Sign Up</a> if you don't have an account yet.
    </p>

  </div>
</div>
{% endblock %}